<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>KBTU site</title>
<!--ссылка на css-->
  <link rel="stylesheet" href="assets/css/style.css">
<!--шрифт с гугл-фонтс-->
   <link href="https://fonts.googleapis.com/css?family=Dosis|Martel+Sans&display=swap" rel="stylesheet">
</head>
<body>
    
    
    
    
    
<header class="header">
    <div class="container">
        <div class="header_inner">
            <div class="header_logo"><a class="nav_link" href="https://www.kbtu.kz/en/" target="_blank">Kazakh British technical university</a></div>
<!--контейнером для навигации - группы ссылок, ведущих на другие страницы сайта или на разделы текущей веб-страницы-->
            <nav class="nav">
                
                <a class="nav_link" href="#" 
                target="_blank">About</a>
                
                <a class="nav_link" href="#" target="_blank">Registration</a>
                
                <a class="nav_link" href="file:///C:/Users/Akerke/Desktop/sfs/sfs.html?#" target="_blank">Login</a>
                
                <a class="nav_link" href="#" target="_blank">Contact</a>

                
            </nav>
        </div>
    </div>
</header>
    
    
    
    
    
<div class="intro">
    
    <div class="container">
        <div class="intro_inner">
            <h2 class="intro_suptitle">Welcome to the</h2>
            <h1 class="intro_title">Student feedback service</h1>
        </div>
    </div>
    <div class="slider">
        <div class="container">
            <div class="slider_inner">
                <div class="slider_item"><span class="slider_numbers">01</span> Intro</div>
                <div class="slider_item"><span class="slider_numbers">02</span> The faculties</div>
                <div class="slider_item"><span class="slider_numbers">03</span> Advantages</div>
                <div class="slider_item"><span class="slider_numbers">04</span> Mission</div>
            </div>
            </div>
         </div>
    </div>

    
    
    
    
    
    
    
</body> 
</html>   